<article class="post post_mod-j clearfix">
  <div class="entry-media">
    <div class="entry-thumbnail">
      <a href="javascript:void(0);" ><img class="img-responsive" src="assets/media/posts/760x320/1.jpg" width="760" height="320" alt="Foto"/></a>
    </div>
  </div>
  <div class="post-inner decor decor_mod-a clearfix">
    <div class="box-date"><span class="number">25</span>AUG</div>
    <div class="entry-main">
      <h3 class="entry-title ui-title-inner"><a href="javascript:void(0);">Lorem ipsum dolor sit amet consec</a></h3>
      <div class="entry-content">
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteua sed sint ocaecate dcupida tatu non proident, sunt in culpa qui officia deserunt mollit anim id est laborum sed utpersp ciatis unde omnis iste natus error sit voluptat.</p>
      </div>
    </div>
    <div class="entry-meta">
      <span class="entry-autor">
        <span>By </span>
        <a class="post-link" href="javascript:void(0);">Academica</a>
      </span>
      <span class="entry-date"><a class="post-link" href="javascript:void(0);"><i class="icon stroke icon-Agenda"></i>August 25, 2015</a></span>
      <span class="entry-links">
        <i class="icon stroke icon-Tag"></i><a class="post-link" href="javascript:void(0);">universities</a>
      </span>
    </div>
    <a href="javascript:void(0);" class="post-btn btn btn-primary btn-effect">READ MORE</a>
  </div>
</article><!-- end post -->

<article class="post post_mod-j clearfix">
  <div class="entry-media">
    <div class="entry-thumbnail">
      <a href="javascript:void(0);" ><img class="img-responsive" src="assets/media/posts/760x320/2.jpg" width="760" height="320" alt="Foto"/></a>
    </div>
  </div>
  <div class="post-inner decor decor_mod-a clearfix">
    <div class="box-date"><span class="number">25</span>AUG</div>
    <div class="entry-main">
      <h3 class="entry-title ui-title-inner"><a href="javascript:void(0);">Lorem ipsum dolor sit amet consec</a></h3>
      <div class="entry-content">
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteua sed sint ocaecate dcupida tatu non proident, sunt in culpa qui officia deserunt mollit anim id est laborum sed utpersp ciatis unde omnis iste natus error sit voluptat.</p>
      </div>
    </div>
    <div class="entry-meta">
      <span class="entry-autor">
        <span>By </span>
        <a class="post-link" href="javascript:void(0);">Academica</a>
      </span>
      <span class="entry-date"><a class="post-link" href="javascript:void(0);"><i class="icon stroke icon-Agenda"></i>August 23, 2015</a></span>
      <span class="entry-links">
        <i class="icon stroke icon-Tag"></i><a class="post-link" href="javascript:void(0);">universities</a>
      </span>
    </div>
    <a href="javascript:void(0);" class="post-btn btn btn-primary btn-effect">READ MORE</a>
  </div>
</article><!-- end post -->


<article class="post post_mod-j clearfix">
  <div class="entry-media">
    <div class="entry-thumbnail">
      <a href="javascript:void(0);" ><img class="img-responsive" src="assets/media/posts/760x320/3.jpg" width="760" height="320" alt="Foto"/></a>
    </div>
  </div>
  <div class="post-inner decor decor_mod-a clearfix">
    <div class="box-date"><span class="number">20</span>AUG</div>
    <div class="entry-main">
      <h3 class="entry-title ui-title-inner"><a href="javascript:void(0);">Lorem ipsum dolor sit amet consec</a></h3>
      <div class="entry-content">
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteua sed sint ocaecate dcupida tatu non proident, sunt in culpa qui officia deserunt mollit anim id est laborum sed utpersp ciatis unde omnis iste natus error sit voluptat.</p>
      </div>
    </div>
    <div class="entry-meta">
      <span class="entry-autor">
        <span>By </span>
        <a class="post-link" href="javascript:void(0);">Academica</a>
      </span>
      <span class="entry-date"><a class="post-link" href="javascript:void(0);"><i class="icon stroke icon-Agenda"></i>August 25, 2015</a></span>
      <span class="entry-links">
        <i class="icon stroke icon-Tag"></i><a class="post-link" href="javascript:void(0);">universities</a>
      </span>
    </div>
    <a href="javascript:void(0);" class="post-btn btn btn-primary btn-effect">READ MORE</a>
  </div>
</article><!-- end post -->

<article class="post post_mod-j decor-2 clearfix">
  <div class="entry-media">
    <div class="entry-thumbnail">
      <a href="javascript:void(0);" ><img class="img-responsive" src="assets/media/posts/760x320/4.jpg" width="760" height="320" alt="Foto"/></a>
    </div>
  </div>
  <div class="post-inner decor decor_mod-a clearfix">
    <div class="box-date"><span class="number">14</span>AUG</div>
    <div class="entry-main">
      <h3 class="entry-title ui-title-inner"><a href="javascript:void(0);">Lorem ipsum dolor sit amet consec</a></h3>
      <div class="entry-content">
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteua sed sint ocaecate dcupida tatu non proident, sunt in culpa qui officia deserunt mollit anim id est laborum sed utpersp ciatis unde omnis iste natus error sit voluptat.</p>
      </div>
    </div>
    <div class="entry-meta">
      <span class="entry-autor">
        <span>By </span>
        <a class="post-link" href="javascript:void(0);">Academica</a>
      </span>
      <span class="entry-date"><a class="post-link" href="javascript:void(0);"><i class="icon stroke icon-Agenda"></i>August 25, 2015</a></span>
      <span class="entry-links">
        <i class="icon stroke icon-Tag"></i><a class="post-link" href="javascript:void(0);">universities</a>
      </span>
    </div>
    <a href="javascript:void(0);" class="post-btn btn btn-primary btn-effect">READ MORE</a>
  </div>
</article><!-- end post -->