<div class="wrap-title-page">
  <div class="container">
    <div class="row">
      <div class="col-xs-12"><h1 class="ui-title-page">Giới Thiệu</h1></div>
    </div>
  </div><!-- end container-->
</div><!-- end wrap-title-page -->


<div class="section-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="wrap-breadcrumb clearfix">
          <ol class="breadcrumb">
            <li><a href="javascript:void(0);"><i class="icon stroke icon-House"></i></a></li>
            <li class="active">Giới Thiệu</li>
          </ol>
        </div>
      </div>
    </div><!-- end row -->
  </div><!-- end container -->
</div><!-- end section-breadcrumb -->

<main class="main-content">

  <section class="about rtd">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h2 class="about__title">welcome to <strong>ACADEMICA</strong></h2>
          <p>Reprehenderit in voluptate velit esse cillum dolo reu fugiat nulla pariatu excp teur sint occa ecated cupidatat non pried ent sunla in asculpa quiah officias deserunt mollit anim. Est laborum sedu perspiciatis unde omnis iste natuser asor lorem ipsum dolor sit amet.</p>
          <h3 class="about__title-inner">We Offer Everyone <strong>FREE Online Courses !</strong></h3>
          <ul class="list-mark">
            <li>Pellentesque lacus vamus lorem arcu semper duiac</li>
            <li>Cras ornare arcu avamus nda leo etiam ind arcu morjusto mauris</li>
            <li>Pellentesque lacus vamus lorem arcu semper duiac ras ornare arcu</li>
            <li>Bamus nda leo etiam ind arcu morbi justo mauris tempus</li>
            <li>Aare arcu avamus nda leo etiam ind arcu lorem ipsum dolor sit</li>
          </ul>
          <p>Reprehenderit in voluptate velit esse cillum dolo reu fugiat nulla pariatu excp teur sint occa ecated cupidatat non pried ent sunla.</p>
        </div><!-- end col -->
        <div class="col-md-7">
          <img class="img-responsive" src="assets/media/about/670x350/1.jpg" height="350" width="670" alt="Foto">
          <div class="row">
            <div class="col-xs-6">
              <img class="img-responsive" src="assets/media/about/320x200/1.jpg" height="200" width="320" alt="Foto">
            </div>
            <div class="col-xs-6">
              <img class="img-responsive" src="assets/media/about/320x200/2.jpg" height="200" width="320" alt="Foto">
            </div><!-- end col -->
          </div><!-- end row -->

        </div><!-- end col -->
      </div><!-- end row -->
    </div><!-- end container -->
  </section><!-- end about -->


  <div class="section-advantages_mod-a">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul class="advantages advantages_mod-c list-unstyled">
            <li class="advantages__item">
              <span class="advantages__icon decor decor_mod-a"><i class="icon stroke icon-Users"></i></span>
              <span class="advantages__title ui-title-inner">SKILLED FACULTY</span>
            </li>
            <li class="advantages__item">
              <span class="advantages__icon decor decor_mod-a"><i class="icon stroke icon-Cup"></i></span>
              <span class="advantages__title ui-title-inner">HIGHest RATED</span>
            </li>
            <li class="advantages__item">
              <span class="advantages__icon decor decor_mod-a"><i class="icon stroke icon-WorldGlobe"></i></span>
              <span class="advantages__title ui-title-inner">GLOBALLY RECOGNIZED</span>
            </li>
            <li class="advantages__item">
              <span class="advantages__icon decor decor_mod-a"><i class="icon stroke icon-DesktopMonitor"></i></span>
              <span class="advantages__title ui-title-inner">ONLINE TRAINING</span>
            </li>
          </ul>
        </div><!-- end col -->
      </div><!-- end row -->
    </div><!-- end container -->
  </div><!-- end section-advantages -->


  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <section class="section-default">
          <h2 class="ui-title-block">Why <strong>Academica ?</strong></h2>
          <div class="panel-group accordion accordion" id="accordion-1">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="btn-collapse" data-toggle="collapse" data-parent="#accordion-1" href="about.html#collapse-1"><i class="icon"></i></a>
                <h3 class="panel-title">Learn And Get Training From Experts</h3>
              </div>
              <div id="collapse-1" class="panel-collapse collapse in">
                <div class="panel-body">
                  <p class="ui-text">Fusce eleifend. Donec sapien sed phase lusa . Pellentesque lacus.Vivamus lorem arcu semper duiac. Cras ornare arcu vamus nda leo. Etiam ind arc morbi justo mauris temd pus pharetra interdum at congue semper purus.</p>
                </div>
              </div>
            </div><!-- end panel -->

            <div class="panel">
              <div class="panel-heading">
                <a class="btn-collapse collapsed" data-toggle="collapse" data-parent="#accordion-1" href="about.html#collapse-2"><i class="icon"></i></a>
                <h3 class="panel-title">Enjoy Our Free Online Courses</h3>
              </div>
              <div id="collapse-2" class="panel-collapse collapse">
                <div class="panel-body">
                  <p class="ui-text">Fusce eleifend. Donec sapien sed phase lusa . Pellentesque lacus.Vivamus lorem arcu semper duiac. Cras ornare arcu vamus nda leo. Etiam ind arc morbi justo mauris temd pus pharetra interdum at congue semper purus.</p>
                </div>
              </div>
            </div><!-- end panel -->

            <div class="panel">
              <div class="panel-heading">
                <a class="btn-collapse collapsed" data-toggle="collapse" data-parent="#accordion-1" href="about.html#collapse-3"><i class="icon"></i></a>
                <h3 class="panel-title">Learn Anytime & Anywhere</h3>
              </div>
              <div id="collapse-3" class="panel-collapse collapse">
                <div class="panel-body">
                  <p class="ui-text">Fusce eleifend. Donec sapien sed phase lusa . Pellentesque lacus.Vivamus lorem arcu semper duiac. Cras ornare arcu vamus nda leo. Etiam ind arc morbi justo mauris temd pus pharetra interdum at congue semper purus.</p>
                </div>
              </div>
            </div><!-- end panel -->

            <div class="panel">
              <div class="panel-heading">
                <a class="btn-collapse collapsed" data-toggle="collapse" data-parent="#accordion-1" href="about.html#collapse-4"><i class="icon"></i></a>
                <h3 class="panel-title">Basic to Advance: We Teach Everything</h3>
              </div>
              <div id="collapse-4" class="panel-collapse collapse">
                <div class="panel-body">
                  <p class="ui-text">Fusce eleifend. Donec sapien sed phase lusa . Pellentesque lacus.Vivamus lorem arcu semper duiac. Cras ornare arcu vamus nda leo. Etiam ind arc morbi justo mauris temd pus pharetra interdum at congue semper purus.</p>
                </div>
              </div>
            </div><!-- end panel -->
          </div><!-- end accordion -->
        </section>
      </div><!-- end col -->

      <div class="col-md-6">
        <section class="section-default">
          <h2 class="ui-title-block">Why <strong>It Works</strong></h2>
          <ul class="nav nav-tabs nav-tabs_mod-a">
            <li class="active"><a class="ui-title-inner decor decor_mod-d" href="about.html#tab-1" data-toggle="tab">Learning Community</a></li>
            <li><a class="ui-title-inner decor decor_mod-d" href="about.html#tab-2" data-toggle="tab">Skills & Knowledge</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="tab-1">
              <img class="pull-left img-responsive" src="assets/media/posts/113x113/1.jpg" height="113" width="113" alt="foto">
              <p>Phasellus luctus nibhay pulvinar bibend um aliquam ligula sapien condimen tum magna eu adipiscing risu Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.</p>
              <p>Bibend um aliquam ligula sapien condimen tum magna eu adipiscing risu Lorem ips um dolor sit amet consectetur adipisicing elit sed do eiusmod.</p>
            </div>
            <div class="tab-pane" id="tab-2">
              <img class="pull-right img-responsive" src="assets/media/posts/113x113/1.jpg" height="113" width="113" alt="foto">
              <p>Phasellus luctus nibhay pulvinar bibend um aliquam ligula sapien condimen tum magna eu adipiscing risu Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.</p>
              <p>Bibend um aliquam ligula sapien condimen tum magna eu adipiscing risu Lorem ips um dolor sit amet consectetur adipisicing elit sed do eiusmod.</p></div>
          </div>
        </section>
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->

  <section class="section-subscribe">
    <div class="subscribe">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="subscribe__icon-wrap">
              <i class="icon_bg stroke icon-Imbox"></i><i class="icon stroke icon-Imbox"></i>
            </div>
            <div class="subscribe__inner">
              <h2 class="subscribe__title">STAY UPDATED WITH ACADEMICA</h2>
              <div class="subscribe__description">Nulla feugiat nibh placerat fermentum rutrum ante risus euismod</div>
            </div>
          </div><!-- end col -->
          <div class="col-sm-6">
            <form class="subscribe__form" action="http://html.templines.com/academica/get">
              <input class="subscribe__input form-control" type="text" placeholder="Your Email address ...">
              <button class="subscribe__btn btn btn-success btn-effect">SUBSCRIBE</button>
            </form>
          </div><!-- end col -->
        </div><!-- end row -->
      </div><!-- end container -->
    </div>
  </section><!-- end section-subscribe -->

</main><!-- end main-content -->
