<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="border-decor_top">
        <section class="section-default">
          <div class="wrap-title wow zoomIn" data-wow-duration="2s">
            <h2 class="ui-title-block ui-title-block_mod-d">We Bring You World’s Best Courses From All Top Publishers, <strong>FREE!</strong></h2>
            <div class="ui-subtitle-block ui-subtitle-block_mod-c">Having over 9 million students worldwide and more than 50,000 online courses available.</div>
          </div>
          <!-- end wrap-title -->
          <ul class="advantages advantages_mod-b list-unstyled">
            <li class="advantages__item wow zoomIn" data-wow-duration="2s">
              <div class="advantages__inner">
                <div class="advantages__info"> <span class="advantages__icon"><i class="icon stroke icon-Cup"></i></span>
                  <h3 class="ui-title-inner decor decor_mod-a">HIGHest RATED</h3>
                </div>
              </div>
              <p>Fusce eleifend donec sapien phase dcua sed sa pellentesque lacus vamus lorem treb lum arcu semper duiac.</p>
            </li>
            <li class="advantages__item wow zoomIn" data-wow-duration="2s" data-wow-delay=".5s"> <span class="advantages__icon"><i class="icon stroke icon-Users"></i></span>
              <div class="advantages__inner">
                <h3 class="ui-title-inner decor decor_mod-a">SKILLED FACULTY</h3>
                <div class="advantages__info">
                  <p>Fusce eleifend donec sapien phase dcua sed sa pellentesque lacus vamus lorem treb lum arcu semper duiac.</p>
                </div>
              </div>
            </li>
            <li class="advantages__item wow zoomIn" data-wow-duration="2s" data-wow-delay="1s"> <span class="advantages__icon"><i class="icon stroke icon-WorldGlobe"></i></span>
              <div class="advantages__inner">
                <h3 class="ui-title-inner decor decor_mod-a">we are GLOBAL</h3>
                <div class="advantages__info">
                  <p>Fusce eleifend donec sapien phase dcua sed sa pellentesque lacus vamus lorem treb lum arcu semper duiac.</p>
                </div>
              </div>
            </li>
            <li class="advantages__item wow zoomIn" data-wow-duration="2s" data-wow-delay="1.5s"> <span class="advantages__icon"><i class="icon stroke icon-DesktopMonitor"></i></span>
              <div class="advantages__inner">
                <h3 class="ui-title-inner decor decor_mod-a">ONLINE TRAINING</h3>
                <div class="advantages__info">
                  <p>Fusce eleifend donec sapien phase dcua sed sa pellentesque lacus vamus lorem treb lum arcu semper duiac.</p>
                </div>
              </div>
            </li>
          </ul>
        </section>
        <!-- end section-advantages -->
      </div>
      <!-- end border-decor_top -->
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
<!-- end container -->