<div class="wrap-title-page">
  <div class="container">
    <div class="row">
      <div class="col-xs-12"><h1 class="ui-title-page">latest news</h1></div>
    </div>
  </div><!-- end container-->
</div><!-- end wrap-title-page -->