<section class="section-categories">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section__inner">
          <div class="wrap-title wrap-title_mod-a">
            <h2 class="ui-title-block ui-title-block_mod-b">Popular <strong>Course Categories </strong></h2>
            <div class="ui-subtitle-block ui-subtitle-block_mod-d">Having over 9 million students worldwide and more than 50,000 online courses available.</div>
          </div>
          <!-- end wrap-title -->
          <div class="categories-tabs">
            <ul class="nav nav-tabs wow bounceInRight" data-wow-duration="2s">
              <li class="active"> <a href="home-2.html#tab-pane_1" data-toggle="tab">
                <div class="nav__inner"><i class="icon stroke icon-Pulse"></i><span class="nav__name">HEALTH & PSYCHOLOGY</span></div>
                <span class="helper"></span> </a> </li>
              <li> <a href="home-2.html#tab-pane_2" data-toggle="tab">
                <div class="nav__inner"><i class="icon stroke icon-Chart"></i><span class="nav__name">BUSINESS & MANAGEMENT</span></div>
                <span class="helper"></span> </a> </li>
              <li> <a href="home-2.html#tab-pane_3" data-toggle="tab">
                <div class="nav__inner"><i class="icon stroke icon-Pen"></i><span class="nav__name">EDUCATION & TEACHING</span></div>
                <span class="helper"></span> </a> </li>
              <li> <a href="home-2.html#tab-pane_4" data-toggle="tab">
                <div class="nav__inner"><i class="icon stroke icon-DesktopMonitor"></i><span class="nav__name">SCIENCE & TECHNOLOGY</span></div>
                <span class="helper"></span> </a> </li>
              <li> <a href="home-2.html#tab-pane_5" data-toggle="tab">
                <div class="nav__inner"><i class="icon stroke icon-Pizza"></i><span class="nav__name">FOOD & Drinking</span></div>
                <span class="helper"></span> </a> </li>
              <li> <a href="home-2.html#tab-pane_6" data-toggle="tab">
                <div class="nav__inner"><i class="icon stroke icon-Video"></i><span class="nav__name">CREATIVE ARTS & MEDIA</span></div>
                <span class="helper"></span> </a> </li>
            </ul>
            <div class="tab-content wow bounceInLeft" data-wow-duration="2s">
              <div class="tab-pane fade in active" id="tab-pane_1">
                <h3 class="categories-tabs__title">HEALTH & PSYCHOLOGY</h3>
                <div class="categories-tabs__number">courses available : <strong class="color_primary"> 400</strong></div>
                <div class="categories-tabs__description">
                  <p>Nulla feugiat nibh placerat fermentum rutrum anted risus euismod eros pharetra felis justo ac tortor. Maecenas odio sit amet odio euismod iaculis. Donec a tellus. Nullam risus turpis rhoncus vel varius consequat laoreet ac neque. Sed eget lectus vitae augue zitae condimen tum sit ame pede. </p>
                  <p>Aenean erat orci mollis quis. Lorem ipsum dolor siter amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                </div>
                <a class="btn btn-primary btn-effect" href="javascript:void(0);">SEE COURSES</a> </div>
              <div class="tab-pane fade" id="tab-pane_2">
                <h3 class="categories-tabs__title">BUSINESS & MANAGEMENT</h3>
                <div class="categories-tabs__number">courses available : <strong class="color_primary"> 400</strong></div>
                <div class="categories-tabs__description">
                  <p>Nulla feugiat nibh placerat fermentum rutrum anted risus euismod eros pharetra felis justo ac tortor. Maecenas odio sit amet odio euismod iaculis. Donec a tellus. Nullam risus turpis rhoncus vel varius consequat laoreet ac neque. Sed eget lectus vitae augue zitae condimen tum sit ame pede. </p>
                  <p>Aenean erat orci mollis quis. Lorem ipsum dolor siter amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                </div>
                <a class="btn btn-primary btn-effect" href="javascript:void(0);">SEE COURSES</a> </div>
              <div class="tab-pane fade" id="tab-pane_3">
                <h3 class="categories-tabs__title">EDUCATION & TEACHING</h3>
                <div class="categories-tabs__number">courses available : <strong class="color_primary"> 400</strong></div>
                <div class="categories-tabs__description">
                  <p>Nulla feugiat nibh placerat fermentum rutrum anted risus euismod eros pharetra felis justo ac tortor. Maecenas odio sit amet odio euismod iaculis. Donec a tellus. Nullam risus turpis rhoncus vel varius consequat laoreet ac neque. Sed eget lectus vitae augue zitae condimen tum sit ame pede. </p>
                  <p>Aenean erat orci mollis quis. Lorem ipsum dolor siter amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                </div>
                <a class="btn btn-primary btn-effect" href="javascript:void(0);">SEE COURSES</a> </div>
              <div class="tab-pane fade" id="tab-pane_4">
                <h3 class="categories-tabs__title">SCIENCE & TECHNOLOGY</h3>
                <div class="categories-tabs__number">courses available : <strong class="color_primary"> 400</strong></div>
                <div class="categories-tabs__description">
                  <p>Nulla feugiat nibh placerat fermentum rutrum anted risus euismod eros pharetra felis justo ac tortor. Maecenas odio sit amet odio euismod iaculis. Donec a tellus. Nullam risus turpis rhoncus vel varius consequat laoreet ac neque. Sed eget lectus vitae augue zitae condimen tum sit ame pede. </p>
                  <p>Aenean erat orci mollis quis. Lorem ipsum dolor siter amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                </div>
                <a class="btn btn-primary btn-effect" href="javascript:void(0);">SEE COURSES</a> </div>
              <div class="tab-pane fade" id="tab-pane_5">
                <h3 class="categories-tabs__title">FOOD & Drinking</h3>
                <div class="categories-tabs__number">courses available : <strong class="color_primary"> 400</strong></div>
                <div class="categories-tabs__description">
                  <p>Nulla feugiat nibh placerat fermentum rutrum anted risus euismod eros pharetra felis justo ac tortor. Maecenas odio sit amet odio euismod iaculis. Donec a tellus. Nullam risus turpis rhoncus vel varius consequat laoreet ac neque. Sed eget lectus vitae augue zitae condimen tum sit ame pede. </p>
                  <p>Aenean erat orci mollis quis. Lorem ipsum dolor siter amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                </div>
                <a class="btn btn-primary btn-effect" href="javascript:void(0);">SEE COURSES</a> </div>
              <div class="tab-pane fade" id="tab-pane_6">
                <h3 class="categories-tabs__title">CREATIVE ARTS & MEDIA</h3>
                <div class="categories-tabs__number">courses available : <strong class="color_primary"> 400</strong></div>
                <div class="categories-tabs__description">
                  <p>Nulla feugiat nibh placerat fermentum rutrum anted risus euismod eros pharetra felis justo ac tortor. Maecenas odio sit amet odio euismod iaculis. Donec a tellus. Nullam risus turpis rhoncus vel varius consequat laoreet ac neque. Sed eget lectus vitae augue zitae condimen tum sit ame pede. </p>
                  <p>Aenean erat orci mollis quis. Lorem ipsum dolor siter amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore.</p>
                </div>
                <a class="btn btn-primary btn-effect" href="javascript:void(0);">SEE COURSES</a> </div>
            </div>
          </div>
          <!-- end categories-tabs -->
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end section_mod-d -->