<div class="section_find-course wow fadeInUp" data-wow-duration="2s">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="find-course find-course_mod-b">
          <form class="find-course__form" action="http://html.templines.com/academica/get">
            <div class="form-group"> <i class="icon stroke icon-Search"></i>
              <input class="form-control" type="text" placeholder="Nhập vào từ khoá ...">
              <div class="jelect" >
                <input value="0" type="text" class="jelect-input">
                <div tabindex="0" role="button" class="jelect-current">Tất Cả</div>
              </div>
              <!-- end jelect -->
            </div>
            <!-- end form-group -->
            <div class="find-course__wrap-btn">
              <button class="btn btn-info btn-effect">TÌM KHOÁ HỌC</button>
            </div>
          </form>
        </div>
        <!-- end find-course -->
        <div class="find-course__info">Search more than 50,000 online courses available from 2,000 publishers</div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end section-default -->